#url {
  width: 750px;
}

#milestones {
  width: 750px;
  height: 530px;
}

footer {
  position: absolute;
  bottom: 7px;
  font-size: 10px;
  text-align: center;
  left: 0;
  right: 0;
}

label {
    width: 190px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

form > div {
    margin-bottom: 10px;
}

body {
    margin: 10px 5px 10px 10px;
}

#actions {
    text-align: right;
    margin-right: 65px;
}